@import "tailwindcss";

@theme {
  --color-bensa-teal: #00ffcc;
  --color-fuel-green: #00ff88;
  --color-fuel-red: #ff3366;
  --color-bensa-violet: #8800ff;
  --color-bensa-cyan: #00ccff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
